<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Skafferiet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">                                                                                               
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item col text-end">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Skafferiet" asp-action="Index">Register</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Skafferiet" asp-action="Login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item col">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Skafferiet" asp-action="Logout">Sign out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
