<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/recipes.css" rel="stylesheet" />
    <link href="~/css/recipeinfo.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Skafferiet" asp-action="Index">Skafferiet🥗</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        RenderSection("breadcrumb", false);
                    }
                </div>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-primary" asp-controller="Skafferiet" asp-action="Logout">Log out</a>
                    }
                    @RenderSection("navbutton", false)
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
        <footer class="py-3 my-4"><p class="navbar-brand">Skafferiet🥗</p><p style="text-align: right;">&copy; Skafferiet Inc.2023. We love food!</p></footer>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
