@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<form asp-controller="Skafferiet" asp-action="Home">


    <label for="ingredients">Choose an ingredient:</label>

    <select asp-for="AddIngredient" asp-items="Model.IngredientsList">

        <option>Ingredients</option>



    </select>



    <button type="submit" class="btn btn-primary" onclick="showValue()">Add Ingredient</button>

</form>

<div id="inventoryDiv">

    <ul class="list-unstyled">

    @foreach (var item in Model.Inventory)
    {
        <form asp-action="Delete" asp-controller="Skafferiet"> 
        <li>
            <button class="d-inline-block align-middle btn-close" type="submit" name="ingredientName" value="@item.IngredientName"></button>
                <div class="d-inline-block align-middle">  @item.IngredientName</div>
        </li>
        </form>

       
    }


    </ul>

</div>

@{
    // TODO: Add connection to the recipes page
}

<script>
    function showValue() {
        let ingr = document.getElementById("ingredients")
        console.log(ingr.value)
    }
</script>