@model IndexVM
<h1>Ready to sign up?</h1>
<h2>By signing up you will be able to add your ingredients and search for recipes.</h2>
<form asp-controller="Skafferiet" asp-action="Index">
    <h3>Sign up for a free account</h3>
    <input asp-for="FirstName"/>
    <br />
    
    <input asp-for="LastName" />
    <br />
    
    <input asp-for="Email" />
    <br />
    
    <input asp-for="Password" />
    <br />
    
    <input asp-for="ConfirmPassword" />
    <br />
    <button class="btn-primary btn" type="submit">Register</button>
    <br />

    <a asp-controller="Skafferiet" asp-action="">Already have an account? Login here!</a>
</form>
@section scripts{
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}