@model IndexVM

<div class="container register">
    <div class="text-center">
        <h1 class="fw-normal my-3">Ready to sign up?</h1>
        <h2 class="fw-normal">By signing up you will be able to add your ingredients and search for recipes.</h2>
    </div>


    <div class="row">
        <lottie-player class="align-self-center p-0" src="https://assets8.lottiefiles.com/packages/lf20_TmewUx.json" background="transparent" speed="0.5" style="width: 300px; height: 300px;" autoplay></lottie-player>
        @*<div class="col-3 align-self-center">
            <img src="~/images/fork-removebg-preview.png" />
        </div>*@


        <div class="register-window mx-auto my-5 p-4 container col-6">
            <form asp-controller="Skafferiet" asp-action="Index">
                <h5 class="mb-4">Sign up for a free account</h5>
                <div class="row">
                    <div class="form-floating col-6 px-2 my-2">
                        <input class="form-control" asp-for="FirstName" />
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="form-floating col-6 px-2 my-2">
                        <input class="form-control" asp-for="LastName" />
                        <label asp-for="LastName"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating px-2 my-2">
                        <input class="form-control" asp-for="Email" />
                        <label asp-for="Email"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating px-2 my-2">
                        <input class="form-control" asp-for="Password" />
                        <label asp-for="Password"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating px-2 my-2">
                        <input class="form-control" asp-for="ConfirmPassword" />
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                </div>
                <div class="row justify-content-end px-2 my-3">
                    <button class="btn-primary btn col-4" type="submit">Register</button>
                </div>
                <div class="row text-center">
                    <a asp-controller="Skafferiet" asp-action="Login">Already have an account? Login here!</a>
                </div>




                <span class="text-danger" asp-validation-for="FirstName"></span>
                <span class="text-danger" asp-validation-for="LastName"></span>
                <span class="text-danger" asp-validation-for="Email"></span>
                <span class="text-danger" asp-validation-for="Password"></span>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </form>
        </div>
        <div class="col-3 align-self-center">
            <img src="~/images/diet-removebg-preview.png" style="max-width: 250px" class="mx-5"/>
        </div>
    </div>


</div>



@section scripts{
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/@("@lottiefiles")/lottie-player@latest/dist/lottie-player.js"></script>

}
@section navbutton{
    <a class="btn btn-outline-primary" asp-controller="Skafferiet" asp-action="Login">Log in</a>
}

