@model LoginVM
<form asp-controller="Skafferiet" asp-action="Login"> 

	<label asp-for="Email"> </label>
	<input asp-for="Email"/>
	<span asp-validation-for="Email"></span>
	<br />
	<label asp-for="Password"> </label>
	<input asp-for="Password" />
	<span asp-validation-for="Password"></span>
	<br />
	<input class="btn btn-primary" type="submit" value="Log in" />
	<a asp-action="Index" class="btn btn-success">Register</a>
	<div asp-validation-summary="All"></div>
</form>