@model RecipesVM[]

@for (int i = 0; i < Model.Length; i++)
{
    if (i % 2 == 0)
    {
        <div class="card mb-3 text-center mx-auto" style="max-width: 540px;">
        <div class="row g-0">
                <div class="col-md-4">
                <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model[i].Title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        </div>
    }
    else
    {
        <div class="card mb-3 text-center mx-auto" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model[i].Image" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    }

}

