@font-face {
    font-family: 'msmadi-regular';
    src: url('../fonts/msmadi-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'montserrat-variablefont_wght';
    src: url('../fonts/montserrat-variablefont_wght.ttf') format('truetype');
}
.menu {
    margin: auto;
    width: 35%;
    border: 3px;
    padding: 10px;
}

.navbar-brandHeader {
    font-family: 'msmadi-regular';
    font-size: 80px;
    margin-left: 140px;
}
.WelcomeBackStyle {
    font-family: 'montserrat-variablefont_wght';
    margin-bottom: 40px;
    margin-left: 70px;
    font-size: 24px;
}

.selectStyle {
    font-family: 'montserrat-variablefont_wght';
    text-transform: capitalize;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 60px;

}
.AIngredientStyle {
    font-weight: bold;
    font-family: 'montserrat-variablefont_wght';
}

.PantryEmptyStyle {
    font-family: 'montserrat-variablefont_wght';
    margin-top: -20px;
}

.AddIngredientStyle {
    background-color: #18A0FB;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -5px;
}

.GetRecipesStyle {
    background-color: #00CB39;
    font-family: 'montserrat-variablefont_wght';
    width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -5px;
}

.InputStyle {
    accent-color: #59E570;
    display: inline-block;
    white-space: nowrap;
    height: 25px;
    width: 30px;
    float: right;
    vertical-align: middle;
    margin-right: -30px
}

.labelStyle {
    text-transform: capitalize;
    margin-bottom:25px;
    font-family: 'montserrat-variablefont_wght';
    font-size: 17px;
    display: block;
    /*    padding-left: 15px;
    text-indent: -15px;*/
    width: 180px;
    vertical-align: middle;
}
.deleteStyle {
    /*padding-right: 15px;*/
    background-color: red;
    margin-right: 50px;
    margin-left: 120px;
}

.roundedLines {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

form#inventory{
    min-width: 600px;
}
.checkButtonForm {
    margin-left: 185px;
    margin-bottom: 50px;
    margin-top: -200px;
}
.checkButton {
    border-radius: 25px;
    font-family: 'montserrat-variablefont_wght';
    width: 150px;
    height: 45px;
    border-radius: 10px;
}