@font-face {
    font-family: 'montserrat-variablefont_wght';
    src: url('../fonts/montserrat-variablefont_wght.ttf') format('truetype');
}

.register h1, .register h2, .register h5, .register p{
    font-family: 'montserrat-variablefont_wght'
}

.register-window {
    border-radius: 1rem;
    width: 500px;
    box-shadow: 0 0 7px 0 grey;
}
