ol.RecipeInfo {
/*    list-style-type: none;
    counter-reset: instruction-counter;*/
    margin: 0;
    padding: 0;
    padding-left: 1rem !important;
}

.RecipeInfo li:before {
    /*content: counter(instruction-counter) ". ";*/
    /*counter-increment: instruction-counter;*/
    
}

/*small {
    font-size: 50%;
    font-family: 'montserrat-variablefont_wght';
    font-family: cursive;
    color: #d1cdcd;
}*/

.SizeForTextInParenthesis {
    font-size: 50%;
    font-family: 'montserrat-variablefont_wght';
    color: #54e8c3;
}

.SizeForTitle {
    font-size: 150%;
    font-family: 'montserrat-variablefont_wght';
    font-weight: bold;
}

.SizeForIngrTitle {
    font-size: 100%;
    font-family: 'montserrat-variablefont_wght';
    font-weight: bold;
}

.SizeForIngrNInst {
    font-size: 100%;
    font-family: 'montserrat-variablefont_wght';
}



@font-face {
    font-family: 'montserrat-variablefont_wght';
    src: url('../fonts/montserrat-variablefont_wght.ttf') format('truetype');
}

.ImgInRecipe {
    border-radius: 15%;
    object-fit: none;
    /*clip-path: circle(50%);*/
    /*clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);*/
}


