@font-face {
    font-family: 'msmadi-regular';
    src: url('../fonts/msmadi-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-variablefont_wght';
    src: url('../fonts/montserrat-variablefont_wght.ttf') format('truetype');
}

body {
}

.navbar-brand {
    font-family: 'msmadi-regular';
    font-size: 40px;
}

.hot-green {
    color: #04D100;
}



.recipe-font {
    font-family: 'montserrat-variablefont_wght';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}

.discrete-link {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: lightgray;
    }
